body {
    background-color: $grey-medium;

    &.no-scroll {
        height: 100%;
        overflow: hidden;
    }
}

.content {
    padding-top: 45px;
    transition: transform 200ms;

    &.shifted {
        transform: translateX(-70px);
    }
}

.container {
    padding: 10px;

    @include breakpoint(tablet) {
        width: 500px;
        margin: 0 auto;
    }

    @include breakpoint(desktop) {
        width: 600px;
    }

}
