
.admin {
    max-width: 800px;
    margin: 0 auto;
    transform: translateY(30px);

    .card {
        background-color: $white;
        border: 1px solid $grey-light;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 10px;
        box-shadow: 0 1px 3px 0 $grey-light;
    }

    .stats {
        display: flex;
        justify-content: space-between;

        .stat {
            text-align: center;
            font-size: 30px;
            font-weight: 600;

            span {
                display: block;
                font-size: 10px;
                font-weight: 400;
            }
        }
    }

    .tabs-component {
        &-tabs {
            display: flex;
        }

        &-tab {
            border-bottom: 2px solid $yellow;
            padding: 5px 10px;
            margin-right: 10px;

            a {
                color: lighten($black, 50%);
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            &.is-active {
                a {
                    color: $black;
                }
            }
        }

        &-panel {
            padding: 10px;
            padding-top: 30px;
        }

    }

    h2 {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .unlisted-job {
        .attributes {
            > div {
                font-size: 14px;
                margin-bottom: 15px;

                span {
                    font-weight: bold;
                }
            }
        }
    }

    form {
        display: flex;
        margin-bottom: 30px;

        &.unlisted {
            display: block;

            input, textarea, select {
                margin-bottom: 20px;
            }

        }

        .flex {
            display: flex;
        }

        .group {
            flex: 1;
            margin-right: 10px;
        }

        .multiple {
            height: 200px;
        }

        input[type=text], select, textarea {
            display: block;
            height: 40px;
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid $grey-light;
            font-size: 13px;
        }

        textarea {
            height: 300px;
        }

        select {
            background-color: $white;
            -webkit-appearance: none;
            cursor: pointer;
            border-radius: 0px;
        }

    }

    .errors {
        font-size: 12px;
        color: red;
        margin-top: 10px;
    }

    .list {
        margin-bottom: 20px;
        ul {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            padding: 5px 10px;
            border: 2px solid $black;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }

    .countries, .categories {
        display: flex;
        flex-wrap: wrap;

        .country, .category {
            width: 50%;
        }
    }

}
