
.job {
    background-color: $white;
    margin-bottom: 10px;
    border: 1px solid $grey-light;

    > a {
        padding: 15px;
        position: relative;
        display: block;
    }

    .wrapper {
        width: 90%;
    }

    .icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        &-reverse {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .meta {
        padding: 0 0 15px 15px;
        display: flex;
        justify-content: space-between;
    }

    .meta > div {
        font-size: 12px;
        color: $grey-dark;
        font-weight: 300;
        max-width: 50%;
    }

    .content {
        padding: 0 0 15px 15px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        a {
            display: flex;
            justify-content: center;
            align-items: center; 
            height: 40px;
        }

        .apply {
            background-color: $black;
            color: $white;
            padding: 0px 35px;
            font-size: 12px;
            text-transform: uppercase;
        }

        .share {
            display: flex;
        }

        .twitter, .facebook {
            width: 40px;

            img {
                width: 18px;
            }
        }

        .twitter {
            background-color: $twitter-blue;
            margin-right: 10px;
        }

        .facebook {
            background-color: $facebook-blue;
        }

    }


}
