
.nav-bar {
    background-color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    height: 45px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;

    .logo {
        color: $yellow;
    }

    .search-button {
        height: 30px;
        margin-right: 10px;
        img {
            max-height: 100%;
        }
    }

    ul {
        background-color: $black;
        position: fixed;
        top: 45px;
        right: 0;
        height: calc(100vh - 45px);
        width: 70px;

        transform: translateX(100%);
        transition: transform 200ms;

        &.open {
            transform: translateX(0);
        }

        .sub-categories {
            position: absolute;
            right: auto;
            left: 0;
            top: 0;
            height: 70px;
            width: auto;
            display: flex;
            flex-direction: row-reverse;
            // max-width: calc(100vh - 70px);
            z-index: -1;

            &.open {
                transform: translateX(-100%);
            }

            a {
                width: 70px;
            }

        }

        > li {
            position: relative;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 70px;
            background-color: $black;
            transition: background-color 200ms;

            &:hover, &.active {
                background-color: darken($black, 10%);
            }



            img {
                display: block;
                max-width: 32px;
                margin-bottom: 10px;
            }

            span {
                color: $yellow;
                font-size: 10px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                word-break: break-all;
                text-align: center;
                hyphens: auto;
            }

            &.search-icon {
                img {
                    max-width: 25px;
                }
            }

            &.twitter {
                display: none;
            }
        }

    }
    
    @include breakpoint(tablet) {
        height: 70px;
        width: 70px;

        ul {
            transform: translateX(0);
            height: calc(100vh - 70px);
            top: 70px;
            padding-top: 50px;
            right: auto;
            left: 0;

            .sub-categories {
                padding-top: 0;
                left: 100%;
                transform: translateX(-100%);

                &.open {
                    transform: translateX(0%);
                }
            }

        }
    }

}
