
.search {
    padding-top: 45px;
    background-color: $white;
    border-bottom: 1px solid $grey-light;
    position: fixed;
    top: 0;

    transform: translateY(-100%);
    transition: transform 200ms;

    &.open {
        transform: translateY(0%);
    }

    @include breakpoint(tablet) {
        padding-top: 20px;
        width: calc(100% - 70px);
        right: 0;

        .search-button {
            position: absolute;
            height: 20px;
            top: 100%;
            right: 50px;
            z-index: 100;

            img {
                max-height: 50%;
            }
        }
    }

    @include breakpoint(desktop) {
        padding-top: 50px;
    }

}
