
.search {
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid $grey-light;
    padding-top: 45px;

    &.open {
        
    }

    .search-box {
        padding: 15px;
    }

    input[type=search] {
        width: 100%;
        border: none;
        border-bottom: 2px solid $black;
        padding: 15px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $grey-light;
    }
    ::-moz-placeholder { /* Firefox 1 */
        color: $grey-light;
    }
    :-ms-input-placeholder { /* IE 1 */
        color: $grey-light;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $grey-light;
    }

    .facets {
        padding: 0 15px;
    }

    .ais-refinement-list {
        margin-bottom: 20px;

        label {
            display: flex;
            align-items: center;
        }

        &__item {
            margin-bottom: 10px;
        }

        &__value {
            font-size: 16px;
            font-weight: 500;
            color: $grey-medium-dark;
        }

        &__count {
            font-size: 12px;
            font-weight: 500;
            background-color: $yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
            width: 16px;
            height: 16px;
        }

    }

    @include breakpoint(tablet) {
        padding-top: 0;
        width: calc(100% - 70px);
        margin-left: 70px;
        position: relative;

        .facets {
            display: flex;
            flex-wrap: wrap;
        }

        .ais-refinement-list {
            width: 33.33%;

            &__value {
                font-size: 14px;
            }
        }

        .search-button {
            position: absolute;
            height: 20px;
            top: 100%;
            right: 50px;
            margin-bottom: 0px;
            z-index: 100;

            img {
                max-height: 50%;
            }
        }
    }

    @include breakpoint(desktop) {
        padding-top: 30px;

        .search-box, .facets {
            margin: 0 auto;
        }

        .search-box {
            max-width: 400px;
            margin-bottom: 20px;
        }

        .facets {
            max-width: 1100px;
        }

        .ais-refinement-list {
            width: 16.6667%;

            &__value {
                font-size: 12px;
            }
        }
    }

}
