/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
  outline: none;
}

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spring
   */

.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  background-color: transparent;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

body {
  background-color: #F0F0F0;
}

body.no-scroll {
  height: 100%;
  overflow: hidden;
}

.content {
  padding-top: 50px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.content.shifted {
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}

@media (min-width: 768px) {
  .content {
    padding-top: 20px;
  }
}

.container {
  padding: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 600px;
  }
}

.card {
  background-color: #fff;
  border: 1px solid #DCDCDE;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px 0 #DCDCDE;
          box-shadow: 0 1px 3px 0 #DCDCDE;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}

.hide-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-mobile {
    display: block;
  }
}

.button {
  background-color: #242424;
  color: #fff;
  padding: 0 40px;
  font-size: 12px;
  text-transform: uppercase;
  height: 40px;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.button:hover {
  background-color: #3e3d3d;
}

a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button.button {
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #242424;
  text-decoration: none;
}

p {
  font-weight: 300;
  color: #6C6C6C;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.meta {
  font-size: 12px;
  color: #AEAEAE;
  font-weight: 400;
  line-height: 1.2;
}

.meta a {
  color: #AEAEAE;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.meta a:hover {
  color: #242424;
}

h1 {
  font-weight: 600;
  font-size: 25px;
  padding: 0 15px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 5px;
}

.job > a {
  display: block;
}

.job h3 {
  margin-bottom: 10px;
}

.job .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job .info div {
  max-width: 50%;
}

.job .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.job .cta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.job .cta a:last-of-type {
  margin-right: 0;
}

.job .cta .social {
  width: 40px;
}

.job .cta .social img {
  display: block;
  width: 15px;
}

.job .cta .twitter {
  background-color: #1DA1F2;
}

.job .cta .twitter:hover {
  background-color: #0c85d0;
}

.job .cta .facebook {
  background-color: #3B5998;
}

.job .cta .facebook:hover {
  background-color: #2d4373;
}

@media (min-width: 768px) {
  .job .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .job .info div {
    max-width: none;
  }
}

.single-job .info {
  display: block;
  margin-bottom: 20px;
}

.single-job .info > div {
  max-width: none;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .single-job .info {
    margin-bottom: 0;
  }

  .single-job .info > div:last-of-type {
    margin-bottom: 0;
  }
}

.jobs h2 {
  margin-bottom: 20px;
  margin-top: 40px;
  padding-left: 15px;
  font-size: 30px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination li a {
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination li.active {
  background-color: #242424;
  color: #fff;
}

.pagination li.disabled {
  display: none;
}

.nav-bar {
  background-color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  height: 45px;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-bar .logo {
  color: #F5DE3C;
}

.nav-bar .search-button {
  height: 30px;
  margin-right: 10px;
}

.nav-bar .search-button img {
  max-height: 100%;
}

.nav-bar ul {
  background-color: #242424;
  position: fixed;
  top: 45px;
  right: 0;
  height: calc(100vh - 45px);
  width: 70px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar ul > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-bar ul.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-bar ul div > li {
  position: relative;
}

.nav-bar ul .sub-categories {
  position: absolute;
  right: auto;
  left: 0;
  top: 0;
  height: 70px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: -1;
}

.nav-bar ul .sub-categories.open {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav-bar ul .sub-categories a {
  width: 70px;
}

.nav-bar ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background-color: #242424;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.nav-bar ul a:hover,
.nav-bar ul a.active {
  background-color: #0b0a0a;
}

.nav-bar ul a img {
  display: block;
  max-width: 32px;
  margin-bottom: 10px;
}

.nav-bar ul a span {
  color: #F5DE3C;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  word-break: break-all;
  text-align: center;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.nav-bar ul a.search-icon img {
  max-width: 25px;
}

@media (min-width: 768px) {
  .nav-bar {
    height: 70px;
    width: 70px;
  }

  .nav-bar .search-button {
    position: absolute;
    top: 0px;
    left: calc(100vw - 30px);
    height: 30px;
    width: 30px;
    border: none;
    background-color: #242424;
    cursor: pointer;
  }

  .nav-bar .search-button img {
    width: 15px;
  }

  .nav-bar ul {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: calc(100vh - 70px);
    top: 70px;
    right: auto;
    left: 0;
  }

  .nav-bar ul .sub-categories {
    padding-top: 0;
    left: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .nav-bar ul .sub-categories.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.search {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #DCDCDE;
  -webkit-box-shadow: 0 1px 3px 0 #DCDCDE;
          box-shadow: 0 1px 3px 0 #DCDCDE;
  padding-top: 45px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 300ms;
  transition: max-height 300ms;
}

.search.open {
  max-height: 900px;
}

.search .search-box {
  padding: 15px;
}

.search input[type=search] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #242424;
  padding: 15px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.search ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #DCDCDE;
}

.search ::-moz-placeholder {
  /* Firefox 1 */
  color: #DCDCDE;
}

.search :-ms-input-placeholder {
  /* IE 1 */
  color: #DCDCDE;
}

.search :-moz-placeholder {
  /* Firefox 18- */
  color: #DCDCDE;
}

.search .facets {
  padding: 0 15px;
}

.search .ais-refinement-list {
  margin-bottom: 20px;
}

.search .ais-refinement-list label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .ais-refinement-list__item {
  margin-bottom: 10px;
}

.search .ais-refinement-list__value {
  font-size: 16px;
  font-weight: 500;
  color: #AEAEAE;
}

.search .ais-refinement-list__count {
  font-size: 12px;
  font-weight: 500;
  background-color: #F5DE3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  width: 16px;
  height: 16px;
}

@media (min-width: 768px) {
  .search {
    padding-top: 0;
    width: calc(100% - 70px);
    margin-left: 70px;
    position: relative;
  }

  .search .facets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .search .search-box {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 20px;
  }

  .search .ais-refinement-list {
    width: 33.33%;
  }

  .search .ais-refinement-list__value {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .search {
    padding-top: 30px;
  }

  .search .facets {
    margin: 0 auto;
  }

  .search .search-box {
    max-width: 400px;
    margin-bottom: 20px;
  }

  .search .facets {
    max-width: 1100px;
  }

  .search .ais-refinement-list {
    width: 16.6667%;
  }

  .search .ais-refinement-list__value {
    font-size: 12px;
  }
}

.login-form {
  padding: 65px 15px 15px 15px;
  background-color: #fff;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.login-form label {
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #DCDCDE;
}

.login-form .checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form .checkbox label input {
  width: auto;
}

@media (min-width: 768px) {
  .login-form {
    max-width: 500px;
    margin: 0 auto;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    padding: 20px;
  }
}

.admin {
  max-width: 800px;
  margin: 0 auto;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.admin .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin .stats .stat {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.admin .stats .stat span {
  display: block;
  font-size: 10px;
  font-weight: 400;
}

.admin .tabs-component-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin .tabs-component-tab {
  border-bottom: 2px solid #F5DE3C;
  padding: 5px 10px;
  margin-right: 10px;
}

.admin .tabs-component-tab a {
  color: #a4a3a3;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.admin .tabs-component-tab.is-active a {
  color: #242424;
}

.admin .tabs-component-panel {
  padding: 10px;
  padding-top: 30px;
}

.admin h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.admin .unlisted-job .attributes > div {
  font-size: 14px;
  margin-bottom: 15px;
}

.admin .unlisted-job .attributes > div span {
  font-weight: bold;
}

.admin form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.admin form.unlisted {
  display: block;
}

.admin form.unlisted input,
.admin form.unlisted textarea,
.admin form.unlisted select {
  margin-bottom: 20px;
}

.admin form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin form .group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
}

.admin form .multiple {
  height: 200px;
}

.admin form input[type=text],
.admin form select,
.admin form textarea {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #DCDCDE;
  font-size: 13px;
}

.admin form textarea {
  height: 300px;
}

.admin form select {
  background-color: #fff;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 0px;
}

.admin .errors {
  font-size: 12px;
  color: red;
  margin-top: 10px;
}

.admin .list {
  margin-bottom: 20px;
}

.admin .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.admin .list li {
  padding: 5px 10px;
  border: 2px solid #242424;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.admin .countries,
.admin .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.admin .countries .country,
.admin .countries .category,
.admin .categories .country,
.admin .categories .category {
  width: 50%;
}

